<section class="about">
  <h1>Crrnts</h1>
  <p>Crrnts utilizes an improved implementation of the DHT protocol to crawl the DHT network and gather near-real-time data on its activity. Users can Crrnt to track the popularity of magnet links and can observe current and past trends over the DHT network.</p>

  <p> Crrnt provides a simple, yet powerful interface that will satisfy users' curiosities around what is happening on the DHT network.</p>

  <hr>
  <p class="footer">Abyssal Fish logo designed by <a href="http://www.thenounproject.com/leslie.ranchon">Leslie Ranchon</a> from the <a href="http://www.thenounproject.com">Noun Project</a></p>
</section>
